@model IEnumerable<Alfasoft.Customer>

@{
    ViewData["Title"] = "Alfasoft - Index";
}

<h1>Customer List</h1>

<a asp-action="Create" class="btn btn-primary">Add New Contact</a>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.ContactNumber</td>
                <td>@contact.EmailAddress</td>
                <td>
                    <a asp-action="Details" asp-route-id="@contact.ID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@contact.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@contact.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>